.bg-gradient-blue-pink {
  background: linear-gradient(194deg, #60acf7, #f07b8e);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 22s ease infinite;
  -moz-animation: AnimationName 22s ease infinite;
  animation: AnimationName 22s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 24% 0%;
  }
  50% {
    background-position: 77% 100%;
  }
  100% {
    background-position: 24% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 24% 0%;
  }
  50% {
    background-position: 77% 100%;
  }
  100% {
    background-position: 24% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 24% 0%;
  }
  50% {
    background-position: 77% 100%;
  }
  100% {
    background-position: 24% 0%;
  }
}
